.problems {
    min-height: 301px;
    padding: 82px 0 42px 0;
    background: url('../img/flower.jpg') center (center/cover) no-repeat;
    &__title {
        font-size: 40px;
        line-height: 60px;
        font-weight: 400;
        letter-spacing: 0.25em;
        color: #ffffff;
        text-align: center;
    }
    &__text {
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: 0.3em;
        color: #ffffff;
        text-align: center;
        span {
            font-weight: 500;
            font-style: italic;
        }
    }
    &__link  {
        margin: 32px auto 0 auto;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #3dc9b3;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 27px;
            height: 21px;
        }
    }
}